@model Shopping.Models.Product 



<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
<div class="products-single fix">
    <div class="box-img-hover">
        @if (Model.AddBadge == true)
        {
            <div class="type-lb">
                <p class="sale">@Model.OfferTitle</p>
            </div>
        }
        <img style="height:200px; width:auto;" src="~/Uploads/@Url.Content(Model.Picture1)" class="img-fluid" alt="ProductImage">
        <div class="mask-icon">
            <ul>
                <li><a href="@(Url.Action("ViewDetails", "Products", new { id = Model.ProductID }))" data-toggle="tooltip" data-placement="right" title="View Details"><i class="fas fa-eye"></i></a></li>
                @*<li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>*@
                <li><a href="@(Session["username"]!=null ? Url.Action("WishList","Products", new {id=@Model.ProductID }) :Url.Action("Login","Account"))" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
            </ul>

        </div>
    </div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
    <div class="why-text full-width">
        <h4>@Model.ProductName</h4>
        <h6>(@Model.QuantityPerUnit)</h6>
        <h5>
            <del class="text-danger">
                @if (Model.OldPrice != null)
                {
                    <text>Rs.@Model.OldPrice </text>}
            </del> RS.@Model.UnitPrice
        </h5>
        <p>
            @Model.Description
        </p>
        @if (Model.UnitInStock > 0)
        {
            @*<a class="btn hvr-hover" href="#">Add to Cart</a>*@
            <a class="btn hvr-hover" href="@(Session["username"] != null ? Url.Action("AddToCart", "Products", new { id = @Model.ProductID }) : Url.Action("Login", "Account"))">Add to Cart</a>
        }
        else
        {
            <a class="btn hvr-hover text-danger" href="#">Out Of Stock!</a>
        }
    </div>
    @{ TempData["returnURL"] = Request.RawUrl; }
</div>
