
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <script src="~/AdminStyle/js/scripts.js"></script>
    <script src="~/AdminStyle/js/datatables-simple-demo.js"></script>
    <script src="~/AdminStyle/assets/demo/chart-bar-demo.js"></script>

}

<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Dashboard</h3>
        @*<ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>*@
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">New Orders  <h2><span>(@ViewBag.NewOrders)</span></h2></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("Index","Order")">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Shipped Orders <h2><span>(@ViewBag.ShippedOrders)</span></h2> </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("Index","Order")">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Delivered Orders <h2><span>(@ViewBag.DeliveredOrders)</span></h2></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("Index","Order")">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Canceled Orders <h2><span>(@ViewBag.CancleOrders)</span></h2> </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("Index","Order")">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Latest Orders
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Total Amount</th>
                            <th>Order Date</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in @ViewBag.latestOrders)
                        {
                            <tr>
                                <td>@item.OrderedID</td>
                                <td>@item.TotalAmount</td>
                                <td>@item.OrderDate</td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
