@model List<Shopping.Models.Ordered>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2 class="mt-4">All Orders</h2>
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Orders</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Orders Details

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered table-striped table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>Serial No.</th>
                            <th>Order Id</th>

                            <th>Shipping Id</th>
                            <th>Discount</th>

                            <th>Total Amount</th>
                            <th>Order Date</th>
                            <th>Status</th>

                            <th>Action</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@(Model.IndexOf(item)+1)</td>

                                <td>@item.OrderedID</td>

                                <td>@item.ShippingDetail.ShippingID</td>
                                <td>@item.Discount</td>

                                <td>@ViewBag.TAmount</td>
                                <td>@item.OrderDate</td>
                                @if (item.Shipped == true && item.Deliver == false)
                                {
                                    <td>Shipped</td>
                                }
                                else if (item.Shipped == true && item.Deliver == true)
                                {
                                    <td>Delivered</td>

                                }
                                else if (item.CancelOrder == true)
                                {
                                    <td>Cancled</td>

                                }
                                else
                                {
                                    <td>On Process</td>

                                }



                                <td>

                                    <a href="@Url.Action("Edit", "Order", new { id = item.OrderedID})" class="btn btn-primary">Edit</a>
                                    <a href="@Url.Action("Details", "Order", new { id = item.OrderedID})" class="btn btn-warning">Details</a>


                                </td>



                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

